<!DOCTYPE html>
<html>
  <head>
    <title>Admin Dashboard</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='styles.css') }}"
    />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  </head>
  <body>
    <h1>Admin Dashboard</h1>
    <h2 class="orange">Overall Statistics</h2>
    <table style="margin-bottom: 2rem">
      <thead>
        <tr>
          <th style="width: 50%">Total Users</th>
          <th style="width: 50%">Users Already Voted</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ users_count }}</td>
          <td>{{ users_submitted_count }}</td>
        </tr>
      </tbody>
    </table>
    <div style="height: 200px">
      <canvas id="votingChart" style="height: 60%"></canvas>
    </div>
    <h2 class="orange">Voting Algorithm</h2>
    <p>
      This app uses the method of equal shares to determine which projects
      should be selected.
    </p>
    <p>
      A project is only selected if it has enough voters supporting it. Excess
      budget is left unused.
    </p>
    <div style="display: flex; justify-content: center; margin-top: 20px">
      <form id="budgetForm" style="display: flex; align-items: center">
        <input
          type="number"
          id="budget"
          name="budget"
          placeholder="Enter total budget"
          required
          style="margin-right: 10px; width: 50%; padding: 10px 15px"
        />
        <button
          id="runEqualShares"
          class="yellow"
          style="width: 50%"
          name="action"
          value="run_algorithm"
          type="button"
        >
          Run Equal Shares Algorithm
        </button>
      </form>
    </div>
    <div id="equalSharesResults" style="margin-top: 20px"></div>
    <h2 class="orange">Add users</h2>
    <p>Upload a CSV file (name, email) or enter directly</p>
    <form method="POST" enctype="multipart/form-data">
      <input type="file" name="file" accept=".csv" />
      <textarea
        name="csv_input"
        placeholder="Enter comma-separated values (name,email)"
      ></textarea>
      <button type="submit" name="action" value="upload_users">
        Send Magic Links
      </button>
    </form>
    <h2 class="orange">Create Project</h2>
    <p>Upload a CSV file (name, description, cost) or enter directly</p>
    <form method="POST" enctype="multipart/form-data">
      <input type="file" name="project_file" accept=".csv" />
      <textarea
        name="csv_input"
        placeholder="Enter comma-separated values (name, description, cost)"
      ></textarea>
      <button type="submit" name="action" value="upload_projects">
        Upload Projects
      </button>
    </form>
    {% with messages = get_flashed_messages() %} {% if messages %}
    <ul>
      {% for message in messages %}
      <li class="flash-message">{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %} {% endwith %}
    <h2 class="orange">Current Users</h2>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
        <tr>
          <td>{{ user.name }}</td>
          <td>{{ user.email }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <h2 class="orange">Current Projects</h2>
    <table>
      <thead>
        <tr>
          <th>Project Name</th>
          <th>Description</th>
          <th>Cost</th>
        </tr>
      </thead>
      <tbody>
        {% for project in projects %}
        <tr>
          <td>{{ project.project_name }}</td>
          <td>{{ project.description }}</td>
          <td>{{ project.cost }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <script>
      // Automatically hide flash messages after 5 seconds
      setTimeout(function () {
        const flashMessages = document.querySelectorAll(".flash-message");
        flashMessages.forEach(function (message) {
          message.style.display = "none";
        });
      }, 5000); // 5000 milliseconds = 5 seconds
    </script>
    <script>
      const ctx = document.getElementById("votingChart").getContext("2d");
      var project_names = {{project_names | tojson | safe}};
      var project_percentages = {{ project_percentages | tojson | safe }};
      console.log("hello", project_names);
      const votingChart = new Chart(ctx, {
        type: "bar", // You can change this to 'pie', 'line', etc.
        data: {
          labels: project_names, // Project names
          datasets: [
            {
              label: "Percentage of Users who Approved",
              data: project_percentages, // Voting percentages
              backgroundColor: "rgba(40, 167, 69, 0.5)", // Green color
              borderColor: "rgba(40, 167, 69, 1)",
              borderWidth: 1,
            },
          ],
        },
        options: {
          maintainAspectRatio: false,
          scales: {
            y: {
              beginAtZero: true,
              title: {
                display: true,
                text: "Percentage (%)",
              },
            },
          },
        },
      });
    </script>
    <script>
      document
        .getElementById("runEqualShares")
        .addEventListener("click", function () {
          const budget = document.getElementById("budget").value; // Get the budget value

          fetch("/admin/run_algo", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({
              budget: budget,
            }),
          })
            .then((response) => response.json())
            .then((data) => {
              // Display the results
              const resultsDiv = document.getElementById("equalSharesResults");
              resultsDiv.innerHTML =
                "<h3>Chosen Projects:</h3><ul>" +
                data.result.map((project) => `<li>${project}</li>`).join("") +
                "</ul>";
            })
            .catch((error) => console.error("Error:", error));
        });
    </script>
  </body>
</html>
